/* 
    Document   : add_store
    Created on : May 1, 2014, 12:51:56 AM
    Author     : usman
    Description:
        Purpose of the stylesheet follows.
*/


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
}
.overlay img{
    left: 45%;
    position: absolute;
    top: 45%;
}
